.catalogList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 28px;
  row-gap: 50px;
  margin-bottom: 16px;
}

.catalogItem {
  border-radius: 12px;
  position: relative;
  max-width: 274px;
  min-height: 426px;
}
